// Variables

// Colors
$textColor: #ffffff;
$featureColor: #000000;
$highlightColor: #ED2024;
$dk-background: #000000;
$border: #e6e6e6;

// Breakpoints
$mobile: 340px;           /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
$landscapeIphone: 480px;  /* smartphones, Android phones, landscape iPhone */
$tablet: 540px;
$portraitTablet: 600px;   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
$landscapeIpad: 801px;    /* tablet, landscape iPad, lo-res laptops ands desktops */
$desktop: 880px;          
$desktopWide: 1025px;     /* big landscape tablets, laptops, and desktops */
$desktopHD: 1281px;       /* hi-res laptops and desktops */ 