.tmdblogo{
    width: 100px;
    display: flex; 
    margin: 40px auto;
}

.about-page {
    margin: 3rem 2rem 5rem 2rem;
    border: 2px solid $grey;
    padding: 2rem 2rem;

    @include mq($tablet){
        margin: 3rem 3rem 5rem 3rem;
        padding: 2rem 3rem;
        .tmdblogo{
            width: 125px;
        }
    }
    
    @include mq($desktopWide){
        margin: 3rem 5rem 5rem 5rem;
        padding: 2rem 3rem;
        .tmdblogo{
            width: 150px;
        }
    }
}


